*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.risultato{
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
    text-transform: uppercase;
}
.active{
    display: flex;
}
.replay{
    padding: 10px;
    font-size: 30px;
    text-transform: capitalize;
    background-color: #00ab66;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color:#fff;
    margin-top: 2rem;
}
